<div class="container">
    <div class="row">
        <div class="col-4">
            <h1>Filter by Price</h1>
            <button class="btn btn-primary mt-2" (click)="showWindowsOnly()">windows only </button><br>
            <button class="btn btn-secondary mt-2" (click)="showMacOnly()">MAC only </button><br>
            <button class="btn btn-warning mt-2" (click)="showNew()">showNew </button><br>



        </div>
        <div class="col-8">

            <div class="row">
                <div *ngFor="let windows of WindowsProducts" class="col-4">
                    <div *ngIf="isWindows" class="card">
                        <img class="card-img-top" [src]="windows.url" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{windows.name}}</h5>
                            <h6 class="card-title">{{windows.price}}</h6>
                            <p [ngClass]="{'new':condition==='new','old':condition==='old'}">{{condition}}</p>
                            <button class="btn btn-warning" appBrand>Show Details</button>

                        </div>
                    </div>
                </div>
                <div *ngFor="let mac of MacProducts" class="col-4">
                    <div *ngIf="isMac" class="card">
                        <img class="card-img-top" [src]="mac.url" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{mac.name}}</h5>
                            <h6 class="card-title">{{mac.price}}</h6>

                            <p [ngStyle]="{'background-color':condition ==='new' ? 'red':'green'}">{{condition}}</p>
                            <button class="btn btn-warning" appBrand>Show Details</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>