.card {
    height: 300px;
    margin: 10px;
    border: none;
}

.new {
    background-color: blue;
    color: white;
    text-align: center;
}

.old {
    background-color: red;
    color: white;
    text-align: center;
}